Host scc1
     HostName scc1.bu.edu
     User stanleyd
Host scc2
     HostName scc2.bu.edu
     User stanleyd
Host scc3
     HostName scc3.bu.edu
     User stanleyd

#Host *
# AddKeysToAgent yes
# UseKeychain yes
# IdentityFile /Users/davestanley/.ssh/id_rsa_ncompany


default github account
Host github.com
	HostName github.com
        IdentitiesOnly yes
	User git
	IdentityFile /Users/davestanley/.ssh/id_rsa

#ncompany account
Host ncompanytech.github.com
  HostName github.com
  PreferredAuthentications publickey
  #AddKeysToAgent yes
  #UseKeychain yes
  IdentitiesOnly yes
  User git
  IdentityFile /Users/davestanley/.ssh/id_rsa_ncompany

